.page{
    background:#2C2B3D;
    height: 720px;
width: 1280px;
}

ul {

    margin-top: 71px;
    margin-left: 606px;
    width: 306px;
height: 30.05px;
    display: flex;
    justify-content: space-between;
    gap:64px;
    list-style: none;

}
ul li a {
    color:white;
   
}

#logo {
    margin-top: 71px;
    margin-left: 101px;
    margin-bottom: 626px;
    width: 168px;
height: 23px;


}

nav {
    display: flex;
    height: 30px;
width: 1083px;
left: 99px;
top: 71px;
border-radius: 0px;
color: white;


}


nav ul li a{
    text-decoration: none;
}

.imagem img {
 margin-top: 172px;
 margin-left: 99px;
 margin-bottom: 0;

}

main {
    display: flex;
    
}


h1{
margin-top:202px;
margin-left: 77px;
font-size: 36px;
line-height: 40px;
color:white;
height: 40px;
width: 620px;
font-weight: 700;
font-family: 'JetBrains Mono', monospace;
}

h1 span, p span {
    color:#00BFA6;
}

p {
    font-weight: 400;
font-size: 16px;
line-height: 28px;
text-align: center;
color:#C2C2C2;
font-family: 'Open Sans', sans-serif;
height: 168px;
width: 604px;
margin-left: 82px;

}




footer{
    display: flex;
    
    margin-right: 200px;
}
 
  

 


footer img {

margin-left: 20px;
text-align: center;
width: 51px;
height: 62px;
margin-bottom: 20px;
margin-top:-6px;
}



footer p {

font-family: 'JetBrains Mono', monospace;

font-weight: 500px;
font-size: 14px;
line-height: 28px;
font-weight: 500px;
font-size: 14px;
line-height: 28px;
margin-top: 27px;
margin-left: 285px;
color: white;
}


footer p a{
    color: white;
    text-decoration: none;
}

.line {

    width: 568px;
    height: 0px;
    
    margin: 157px 356px 0;
    
    border: 1px solid #00BFA6;
}